.buttonconfigfullbg{
    width: 100%;
    background: teal;
    color: white;
    padding: 3px 10px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    font-size: 13px;
}


.buttonconfigtodelete{
    width: 100%;
    background: red;
    color: white;
    padding: 3px 10px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    font-size: 13px;
}

.buttonconfignormal{
    width: 100%;
    background: white;
    color: teal;
    padding: 3px 10px;
    border-radius: 3px;
    border: 1px solid teal;
    border: none;
    cursor: pointer;
    font-size: 13px;
}