.container{
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-x: hidden;

    .center{
        width: 60%;
        display: flex;
        justify-content: center;
    }
}


@media screen and (max-width: 900px) {
    .container{
        .center{
            width: 100%;
        }
    }
}