.container{
    width: fit-content;
    padding: 0 50px;
    border: 1px solid teal;
    border-radius: 5px;
    overflow-y: auto;
    
    .users{
        height: 400px;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;

        .user{
            width: 100%;
            padding: 10px 5px;
            margin: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid teal;
            border-radius: 5px;
            cursor: pointer;

            .name{
                width: 80%;
            }
        }
    }
}